@import "../mixin";
@import "../Variable";

.menu {
  width: 200px;
  opacity: 1;
}

.conten-ebout {
  @include flex(row-reverse, space-between, none);
  @include md_grid_repeat(1);
  padding: 0.6rem 2rem;
  .Information {
    @include flex(column, space-between, none);

    width: 47%;

    margin: 1rem;
    @include grid_column(768px, 1);

    .item-form {
      display: flex;
      align-items: center;
      font-size: $size-titl2;

      .title-info {
        color: $color-purple2;
        margin-left: 5px;
        font-weight: bold;
      }
      .value-info {
        color: $color_gris;
      }
    }
  }
  .description {
    width: 47%;
    @include sm_max {
      width: 100%;
    }
    margin: 1rem;
  }
}
.content {
  overflow: scroll;
}
.expertise {
  width: 100%;
  height: auto;

  .expertise_content {
    @include lg_grid_repeat(2);
    @include sm_grid_repeat(1);
    .items {
      padding: 20px;
      @include sm_max {
        height: auto;
      }
      i {
        font-size: 4rem;
        color: $color-purple;
      }

      .item1 {
        @include grid_column(640px, 1);

        @include grid_column(768px, 2);
      }
      .item2 {
        @include grid_column(640px, 1);

        @include grid_column(768px, 2);
      }
    }
  }
}
.evidence {
  width: 100%;
  height: auto;
  

  .title_evidence {
    @include flex(row, space-between, center);
  }
  .item_evid {
    z-index: 0;
    padding: 20px;
    @include flex(row, space-evenly, center);
    @include md_max {
      @include flex(column, space-between, center);
    }
   
    .item_child {
      width: 280px;
      height: 300px;
      border: 2px solid $color_gray;
      position: relative;
      border-radius: 1rem;
      margin-bottom: 1rem;
      margin-left: 0.5rem;
      transition: all 1s ease-in-out;
      &:hover{
       
        transform:scale(1.05);
        box-shadow: 0 5px 6px -1px #cccccc, 0 2px 5px -2px #cccccc
     

        
    
        
      }

      @include md_max {
        margin-top: 3.5rem;
      }
      .img-profile {
        border: 1px solid $color_gray;

        background-color: white;
        width: 100px;
        height: 100px;
        border-radius: 100%;
        position: absolute;
        top: -50px;

        right: 30%;
      }
      p {
        text-align: center;
        margin-top: 5rem;
        height: 20px;
      }
    }
  }
}
