.menu {
  width: 200px;
  opacity: 1;
}

.conten-ebout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: none;
      -ms-flex-align: none;
          align-items: none;
  padding: 0.6rem 2rem;
}

@media (max-width: 768px) {
  .conten-ebout {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(0, 1fr))[1];
        grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}

.conten-ebout .Information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: none;
      -ms-flex-align: none;
          align-items: none;
  width: 47%;
  margin: 1rem;
}

@media (min-width: 768px) {
  .conten-ebout .Information {
    -ms-grid-column: 1;
    grid-column: 1;
  }
}

.conten-ebout .Information .item-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.4rem;
}

.conten-ebout .Information .item-form .title-info {
  color: #654efe;
  margin-left: 5px;
  font-weight: bold;
}

.conten-ebout .Information .item-form .value-info {
  color: #5b5b5b;
}

.conten-ebout .description {
  width: 47%;
  margin: 1rem;
}

@media (max-width: 640px) {
  .conten-ebout .description {
    width: 100%;
  }
}

.content {
  overflow: scroll;
}

.expertise {
  width: 100%;
  height: auto;
}

@media (min-width: 768px) {
  .expertise .expertise_content {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(0, 1fr))[2];
        grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (max-width: 640px) {
  .expertise .expertise_content {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(0, 1fr))[1];
        grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}

.expertise .expertise_content .items {
  padding: 20px;
}

@media (max-width: 640px) {
  .expertise .expertise_content .items {
    height: auto;
  }
}

.expertise .expertise_content .items i {
  font-size: 4rem;
  color: #952ff3;
}

@media (min-width: 640px) {
  .expertise .expertise_content .items .item1 {
    -ms-grid-column: 1;
    grid-column: 1;
  }
}

@media (min-width: 768px) {
  .expertise .expertise_content .items .item1 {
    -ms-grid-column: 2;
    grid-column: 2;
  }
}

@media (min-width: 640px) {
  .expertise .expertise_content .items .item2 {
    -ms-grid-column: 1;
    grid-column: 1;
  }
}

@media (min-width: 768px) {
  .expertise .expertise_content .items .item2 {
    -ms-grid-column: 2;
    grid-column: 2;
  }
}

.evidence {
  width: 100%;
  height: auto;
}

.evidence .title_evidence {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.evidence .item_evid {
  z-index: 0;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 960px) {
  .evidence .item_evid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.evidence .item_evid .item_child {
  width: 280px;
  height: 300px;
  border: 2px solid #ededee;
  position: relative;
  border-radius: 1rem;
  margin-bottom: 1rem;
  margin-left: 0.5rem;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.evidence .item_evid .item_child:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-box-shadow: 0px 1rem 1rem -1px #cccccc;
          box-shadow: 0px 1rem 1rem -1px #cccccc;
}

@media (max-width: 960px) {
  .evidence .item_evid .item_child {
    margin-top: 3.5rem;
  }
}

.evidence .item_evid .item_child .img-profile {
  border: 1px solid #ededee;
  background-color: white;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  position: absolute;
  top: -50px;
  right: 30%;
}

.evidence .item_evid .item_child p {
  text-align: center;
  margin-top: 5rem;
  height: 20px;
}
/*# sourceMappingURL=about.css.map */