body {
  background-color: #e9e6ef;
  padding: 67px 60px 0px 0px;
  direction: rtl;
}

@media (max-width: 640px) {
  body {
    padding: 0;
  }
}

.none {
  display: none;
}

.navbar {
  text-align: right;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #fff;
}

@media (min-width: 640px) {
  .navbar {
    display: none;
  }
}

.navbar i {
  font-size: 3rem;
  z-index: 2;
}

.navbar .menuandprof {
  width: 30%;
  z-index: 1;
  -webkit-transform: translate(500px);
          transform: translate(500px);
  -webkit-transition: -webkit-transform 1s ease-in-out;
  transition: -webkit-transform 1s ease-in-out;
  transition: transform 1s ease-in-out;
  transition: transform 1s ease-in-out, -webkit-transform 1s ease-in-out;
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: none;
      -ms-flex-align: none;
          align-items: none;
  height: 500px;
}

.contaner {
  width: 100%;
  height: 100%;
  background-color: #fff;
  margin-left: 30px;
  border-radius: 15px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: none;
      -ms-flex-pack: none;
          justify-content: none;
  -webkit-box-align: none;
      -ms-flex-align: none;
          align-items: none;
}

@media (max-width: 640px) {
  .contaner {
    border-radius: 0%;
    width: 100%;
    margin-left: 0px;
  }
}

@media (max-width: 640px) {
  .contaner {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(0, 1fr))[1];
        grid-template-columns: repeat(1, minmax(0, 1fr));
    height: 100%;
  }
}

.contaner .content {
  width: 100%;
  height: 100%;
  background-color: #fff;
  -ms-grid-column: 1;
  grid-column: 1;
  padding: 1rem;
}

@media (max-width: 640px) {
  .contaner .content {
    width: 100%;
  }
}

.contaner .content .text-me {
  font-size: 2rem;
}

.contaner .content .text-me .me {
  color: #952ff3;
}

.contaner .profile {
  background-color: #952ff3;
  width: 40%;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

@media (max-width: 640px) {
  .contaner .profile {
    display: none;
  }
}

.contaner .profile .top-profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 80%;
}

.contaner .profile .top-profile .img-profile {
  width: 100%;
  height: 35%;
  border-radius: 50%;
  background-color: chartreuse;
}

@media (min-width: 768px) {
  .contaner .profile .top-profile .img-profile {
    width: 60%;
    height: 40%;
  }
}

.contaner .profile .top-profile .title {
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  color: white;
}

.contaner .profile .btn {
  width: 60%;
  height: 10%;
  border-radius: 2rem;
  border: 2px solid white;
  background-color: #952ff3;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  background-color: antiquewhite;
}

.contaner .profile .btn:hover {
  background-color: #952ff3;
  color: white;
}

.iside {
  width: 7%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 640px) {
  .iside {
    display: none;
  }
}

.iside i {
  color: #5b5b5b;
}

.iside .menu {
  background-color: #fff;
  width: auto;
  height: 66%;
  width: 73%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border-radius: 40px;
}

@media (max-width: 768px) {
  .iside .menu i {
    font-size: 1.9rem;
  }
}

@media (min-width: 768px) {
  .iside .menu i {
    font-size: 2.5rem;
  }
}

.iside .rghit-and-left {
  background-color: #fff;
  width: 73%;
  height: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 40px;
}

@media (max-width: 768px) {
  .iside .rghit-and-left i {
    font-size: 2rem;
  }
}

@media (min-width: 768px) {
  .iside .rghit-and-left i {
    font-size: 3rem;
  }
}
/*# sourceMappingURL=style.css.map */