@import "../mixin";
@import "../Variable";

body {
  background-color: $color-background;
  @include pading-4(67px, 60px, 0px, 0px);
  max-width: 1400px;
  position: relative;

  @include sm_max {
    padding: 0;
  }

  direction: rtl;
}
.none {
  display: none;
}
.navbar {
  text-align: right;

  width: 100%;
  background-color: $color-white;

  @include sm {
    display: none;
  }
  .bx {
    font-size: 3rem;
    position: fixed;
    padding: 1px;
    background-color: $color-purple;
    border-radius: 100%;
    color: $color-white;
    margin: 10px;
    z-index: 1;
  }
}
.menuandprof {
  background-color: $color-purple2;
  z-index: 1;
  width: 0;
  height: 100%;
  opacity: 0;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: absolute;
  padding: 10px;
  color: $color-white;

  transition: all 0.5s ease-in-out;
  // @include sm_height {
  //   height: 50%;
  //   overflow-y: scroll;

  //   background-color: red;
  // }
  ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 4px;
  }
  li {
    width: 100%;
    list-style: none;

    a {
      padding: 10px;
      display: block;
      text-align: center;

      text-decoration: none;
      font-size: 2rem;
      font-size: 1.2rem;
      color: $color-white;
    }
  }

  @include sm {
    display: none;
  }
  .img-profile {
    margin-top: 70px;
    width: 130px;
    height: 130px;

    border-radius: 50%;
    background-color: chartreuse;
  }
}
section {
  @include flex(row, space-between, none);
  height: 500px;
  @include sm_max {
    height: 645px;
  }
}
.contaner {
  @include height_width;
  background-color: $color-white;
  margin-left: 30px;
  border-radius: 15px;
  overflow: hidden;

  @include flex(row, none, none);
  @include sm_max {
    border-radius: 0%;
    width: 100%;
    margin-left: 0px;
    padding: 10px;
  }
  @include respansave-grid;

  .content {
    @include height_width;
    background-color: $color-white;
    @include sm_max {
      width: 100%;
    }
    grid-column: 1;
    padding: $pading-content;
    // about me
    .text-me {
      font-size: $size-title;
      .me {
        color: $color-purple;
      }
    }
  }

  .profile {
    background-color: $color-purple;
    width: 30%;

    padding: 10px;

    @include flex(column, space-evenly, center);

    @include sm_max {
      display: none;
    }
    height: 100%;
    .top-profile {
      display: flex;
      @include flex(column, center, center);

      width: 100%;

      height: 80%;
      .img-profile {
        width: 150px;
        height: 150px;

        border-radius: 50%;
        background-color: chartreuse;
      }
      // title in profile
      .title {
        text-align: center;

        align-items: center;

        width: 100%;
        color: white;
      }
    }

    .btn {
      width: 150px;
      height: 10%;
      border-radius: 2rem;
      border: 2px solid white;
      background-color: $color-purple;
      // cursor: pointer;
      transition: all 0.5s ease-in-out;
      background-color: antiquewhite;
      @include hover-tag;
    }
  }
}
.iside {
  @include sm_max {
    display: none;
  }
  width: 7%;

  @include flex(column, space-between, center);

  i {
    color: $color_gris;
    // cursor: pointer;
  }
  .menu {
    background-color: $color-white;
    width: 60px;
    height: 66%;

    @include flex(column, space-around, center);
    flex-wrap: wrap;
    border-radius: 40px;
    i {
      @include md_max {
        font-size: 1.9rem;
      }
      @include md {
        font-size: 2.5rem;
      }
    }
  }
  .rghit-and-left {
    background-color: $color-white;
    width: 60px;
    height: 30%;

    // max 768 px

    @include flex(column, space-evenly, center);
    border-radius: 40px;
    i {
      @include md_max {
        font-size: 2rem;
      }
      @include md {
        font-size: 3rem;
      }
    }
  }
}
nav {
  position: relative;
      i:hover{
        color: $color-purple2;
      }
  span {
    background-color:$color-purple2;
    border-radius: 5px;
    font-size: 1.5rem;
    position: absolute;
    left: 90%;
    padding: 3px;
    color: white;
    margin-top: 10px;
    transform: translate(-100px);
    transition: all 0.5s ease-in-out;
    opacity: 0;
  }
  i:hover span {
    transform: translate(0);
    opacity: 1;
  }

}
