@mixin respansave-grid {
  @media (max-width: 640px) {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    height: 100%;
  }
}
@mixin pading-4($t,$b,$r,$l) {
  padding:$t $b $r $l  ;
}

// hover btn
@mixin hover-tag {
  &:hover {
    background-color: $color-purple;
    color: white ;
  }
}


@mixin sm {
  @media (min-width: 640px) {
    @content;
  }
}
@mixin sm_max {
  @media (max-width: 640px) {
    @content;
  }
}
@mixin md {
  @media (min-width: 768px) {
    @content;
  }
}
@mixin md_max {
  @media (max-width: 768px) {
    @content;
  }
}

@mixin lg {
  @media (min-width: 1240px) {
    @content;
  }
}



@mixin height_width {
  width: 100%;
  height: 100%;
}

@mixin flex($direction, $just, $items) {
  display: flex;
  flex-direction: $direction;
  justify-content: $just;
  align-items: $items;
}

// start respansave
@mixin sm_grid_repeat($number) {
  @media (max-width: 640px) {
    display: grid;
    grid-template-columns: repeat($number, minmax(0, 1fr));
  }
}
@mixin md_grid_repeat($number) {
  @media (max-width: 768px) {
    display: grid;
    grid-template-columns: repeat($number, minmax(0, 1fr));
  }
}
@mixin lg_grid_repeat($number) {
    @media (min-width: 768px) {
      display: grid;
      grid-template-columns: repeat($number, minmax(0, 1fr));
    }
  }
@mixin grid_column($max-width, $number) {
  @media (min-width: $max-width) {
    grid-column: $number;
  }
}
