body {
  background-color: #e9e6ef;
}

@media (min-width: 800px) {
  body {
    padding: 60px 0px 60px 60px;
  }
}

.navbar {
  text-align: right;
}

@media (min-width: 800px) {
  .navbar {
    background-color: #cabbbb;
  }
}

.navbar i {
  font-size: 3rem;
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contaner {
  width: 90%;
  height: 500px;
  background-color: #fff;
  margin-left: 30px;
  border-radius: 25px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 800px) {
  .contaner {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(0, 1fr))[1];
        grid-template-columns: repeat(1, minmax(0, 1fr));
    height: 100%;
  }
}

.contaner .content {
  background-color: blue;
  width: 100%;
  height: 100%;
  -ms-grid-column: 1;
  grid-column: 1;
}

@media (min-width: 800px) {
  .contaner .content {
    background-color: #cabbbb;
  }
}

@media (max-width: 800px) {
  .contaner .content {
    position: absolute;
    height: auto;
  }
}

.contaner .profile {
  background-color: #952ff3;
  width: 30%;
  height: 100%;
}

@media (max-width: 800px) {
  .contaner .profile {
    visibility: hidden;
  }
}

.iside {
  width: 7%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 800px) {
  .iside {
    visibility: hidden;
  }
}

.iside .menu {
  background-color: #fff;
  width: auto;
  height: 66%;
  width: 73%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 40px;
}

.iside .menu i {
  font-size: 2.5rem;
  color: #654efe;
}

@media (min-width: 800px) {
  .iside .menu i {
    background-color: #cabbbb;
  }
}

.iside .rghit-and-left {
  background-color: #fff;
  height: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 40px;
}

.iside .rghit-and-left i {
  font-size: 3rem;
  color: #654efe;
}
/*# sourceMappingURL=style.css.map */